@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0%;
    padding: 0%;
}

:root {
    --cor-fundo: #000000;
    --cor-principal: #16FF00;
    --cor-fundo-botao: #131212;
    --cor-hover: #FFED00;
    --cor-fundo-nenhuma-mensagem: #131212;

    --font_titulo: 'Abril Fatface', serif;

    --font-principal: 'Inter', sans-serif;
}

html{
    height: 100%;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
    display: flex;
    flex-direction: column;
}

.cabecalho {
    padding: 1% 2%;

}



.cabecalho__menu__link{
    font-family: var(--font-principal);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-principal);
    padding: 0% 2%;
    
    
}



.decodificador {
    display: flex;
    gap: 82px;
    padding: 0% 0% 0% 7%;
    height: 100%;
    margin: 0% 2%;
    justify-content: space-between;
    align-items: center;
}


.decodificador_conteudo {
    width: 65%;
    display: flex;
}

.decodificador_conteudo_formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#decodificar {
    box-shadow: none;
    outline: none;
    border: none;
    background-color: var(--cor-fundo);
    width: 100%;
    height: 100%;
    resize: none;
    font-family: var(--font-principal);
    font-size: 2rem;
    color: var(--cor-principal);

}


.decodificador_conteudo_furmalario_aviso{
    font-family: var(--font-principal);
    font-weight: 200;
    display: flex;
    font-size: 1rem;
    color: #9B9797;
    
    

}

textarea::placeholder {

    font-size: 2rem;
    font-family: var(--font-principal);
    color: var(--cor-principal);
    
}
.decodificador_conteudo_formulario_botao {

    display: flex;
    justify-content: space-between;
    gap: 20px;


}

.decodificador_conteudo_formulario_botao_criptografar {
    background-color: var(--cor-principal);
    direction: none;
    padding: 3% 20%;
    border: none;
    border-radius: 16px;
    border: 2px solid var(--cor-principal);
    font-family: var(--font-principal);
    color: var(--cor-fundo);
    font-weight: 600;
}

.decodificador_conteudo_formulario_botao_criptografar:hover {
    background-color: var(--cor-fundo-nenhuma-mensagem);
    color: var(--cor-principal);
}

.decodificador_conteudo_formulario_botao_descriptografar {
    background-color: var(--cor-fundo-botao);
    direction: none;
    padding: 2% 20%;
    border: none;
    border-radius: 16px;
    border: 2px solid var(--cor-principal);
    font-family: var(--font-principal);
    color: var(--cor-principal);
    font-weight: 600;
}

.decodificador_conteudo_formulario_botao_descriptografar:hover {

    background-color: var(--cor-hover);

}


.decodificador_resultado {


    background-color: var(--cor-fundo-nenhuma-mensagem);
    border-radius: 16px;
    padding: 5% 1%;
    width: 35%;

}

#digito{
    font-size: 2rem;
    font-family: var(--font-principal);
}

.decodificador_resultado_img{
    width: 90%;
}

.decodificador_resultado_mensagem_nenhuma{
    font-family: var(--font-principal);
    font-weight: 600;

}

.decodificador_resultado_mensagem_digite{
    font-family: var(--font-principal);
    font-weight: 300;
}

.decodificador_resultado_botao_copia{
    background-color: var(--cor-fundo-botao);
    border-radius: 16px;
    padding: 6% 25%;
    border: 2px solid var(--cor-principal);
    font-family: var(--font-principal);
    color: var(--cor-principal);
    font-weight: 600;
    align-items: center;
    margin: 20%;
}

.decodificador_resultado_botao_copia:hover{

    background-color: var(--cor-hover);

}


.rodape {
    flex-shrink: 0;
    font-size: 0.6rem;
    padding: 1px;
    background-color: var(--cor-fundo);
    text-align: center;
}

@media (max-width: 1220px){


    .cabecalho{
        padding: 1% 0% 9% 2%;
    }

    .decodificador{
        flex-direction: column;
        padding: 0%;
        margin: 0%;
    }

    .decodificador_conteudo{
        width: 90%;
    }

    .decodificador_resultado{
        width: 90%;
    }
    

    .decodificador_resultado_img{
        display: none;
    }

    .rodape{
        display: none;
    }


     @media (max-width: 910px){

        .decodificador_conteudo_formulario_botao{
            flex-direction: column;
        }

        .decodificador_resultado_img{
            display: none;
        }

    }

}

    